*{
    margin:0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

body{
    overflow: hidden;
    background: #3c87ff;
}
.wrapper{
    max-width: 405px;
    margin: 135px auto;
    background: #fff;
    border-radius: 10px;
    padding:  28px 0;
}

.task-input{
    height: 52px;
    padding: 0 25px;
    position: relative;
}
.task-input img{
    position: absolute;
    top:50%;
    transform: translate(17px , -50%);

}
.task-input input{
    height: 100%;
    width: 80%;
    font-size: 15px;
    outline: none;
    border-radius: 5px ;
    border: 1px solid #999;
    padding: 0 20px 0 50px;
}
.task-input input::placeholder{
    color : #bfbfbf;

}

.controls , li {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.controls{
    
    padding: 18px 25px;
    border-bottom:1px solid #ccc ;
}
.filters span{
    margin:0 8px;
    font-size:17px;
    cursor: pointer;
}
.filters span:first-child{
    /* margin-left: 0; */

}

.filters span.active{
    color: #3c87ff;
}

.controls .clear-btn{
    outline:none;
    border: none;
    color:#fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
    padding: 7px 13px;
    background: #3c87ff;
}

.task-box{
    margin: 20px 25px;
}
.task-box .task{
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;

}

.task-box .task:last-child{
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.task label{
    display: flex;

}
.task label p.checked{
    text-decoration: line-through;
}

.task label input {
    margin-top: 6px;
    margin-right: 12px;
}

.task .setting{
    cursor: pointer;
    position: relative;

}
.setting .task-menu{
    position:absolute;
    padding: 5px 0;
    right: -5px;
    bottom: -65px;
    z-index: 2;
    transform:scale(0) ;
    border-radius: 5px;
    background: #fff;
    transform-origin: top right;
    transition: 0.2s ease;
    box-shadow: 0 0 6px rgba(0, 0,0,0.15);
}
.setting .task-menu.show{
    transform: scale(1);
}
.task-menu li{
    height: 2px;
    font-size: 16px;
    padding: 17px 15px;
    margin-bottom: 2px;
    justify-content: flex-start;
}

.task-menu li:last-child{
    margin-bottom: 0;
}

.task-menu li:hover{
    background: #f5f5f5;

}

.task-menu li i{
    padding-right: 8px;
}



